form {
  position: relative;
  border: 2px #000000 solid;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 3px 3px;
  justify-items: normal;
}

input {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 2rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.task {
  margin-bottom: 2rem;
}

label {
  margin-top: 5rem;
  // margin-bottom: 2rem;
}

.step-button {
  width: 6rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.wrapper {
  padding: 5px 20px;
  // background-color: pink;
}

.wrapper fieldset {
  position: relative;
  border: none;
  padding-bottom: 2rem;
}
