// $font-family: 'Poppins', sans-serif;
// $background-color: #F7F0E6;
// $font-color: black;

// .layout{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// #home {
//   background-color: #F1FF4A;
// }

// .icon {
//   color: purple;
// }

// .icon:hover {
//   background-color: red
// }

.container {
  background-color: #F7F0E6;
  margin: auto;
  width: 100%;
  max-width: 600px;
}
