.task-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.progress-stats {
  margin-top: 30px;
  padding-top: 10px;
  // padding-bottom: 10px;
  // padding-bottom: 30px;
  font-style: bold;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  margin-bottom: 30px;
}

#task-timer {
  padding: 20px;
}

#task-progress-bar {
  padding: 20px;
  padding-bottom: 40px;
}

// .task-step-progress {
//   padding-top: 20px;
//   padding-bottom: 20px;
//   font-style: bold;
//   align-items: center;
//   text-align: center;
// }
