#task-progress-bar {
  margin-top: 30px;
  padding: 2rem;
  font-style: bold;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  margin-bottom: 30px;
}

.task-step-progress {
  padding: 2rem;
  font-style: bold;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  margin-bottom: 40px;
}
