.active-taskbox {
  // position: relative;
  border: 1px #000000 solid;
  height: auto;
  line-height: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px;
}

.button-delete {
  border: 1px black solid;
  box-shadow: 2px 2px black;
  background-color: lightcoral;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 40px;
  width: 100px;
}

.button-resume {
  border: 1px black solid;
  box-shadow: 2px 2px black;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 40px;
  width: 100px;
}

.steps-remaining {
  display: flex;
  align-items: center;
  justify-content: right;
}

.top-active-task-box {
  display: inline-block;
}

.styled-text {
  transform: rotate(5deg) scaleX(1);
  text-shadow: lightgrey 3px 3px;
  text-size-adjust: 60px;
}
