.button {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  height: 35px;
  width: 170px;

  &--selected {
    border: 2px #000000 solid;
    box-shadow: 3px 3px;
    color: black;
  }
}
