button {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  height: 35px;
  width: 170px;
}

.button {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  height: 35px;
  width: 170px;


  &--selected {
    border: 2px #000000 solid;
    box-shadow: 3px 3px;
    color: black;
  }
}

#step-button {
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 80px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 10px;
  box-shadow: 3px 3px black;
}