form {
  // background-color: white;
}

input {
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  width: 170px;
}

input:focus {
  background-color: lightcyan;
}

label {
  font-weight: bolder;
}

.creatTaskButton {
  font-weight: bolder;
  background-color: #FEE0C5;
  border: 2px #000000 solid;
  height: 3rem;
  box-shadow: 3px 3px;
  font-size: 18px;
  // margin-top: 1rem;
}

// .createTaskButton :hover {
//   border: 3px #5456e1 solid;
//   box-shadow: 3px 3px #5456e1;
// }
