.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  &__avatar {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    margin-right: 22.4px;
    height: 75px;
    width: 75px;
    overflow: hidden;
  }
}
