nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px rgb(108, 191, 74) dotted;
  padding: 0.5rem 0;
  width: 100%;
  max-width: 600px;
  margin: auto;

  a {
    display: flex;
    text-decoration: none;
    color: #000000;

    * {
      align-items: center;
    }
  }
}
