nav {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f0e6;
  border-bottom: 5px rgb(108, 191, 74) dotted;
  padding: 8px 25px;
  width: 100%;
  max-width: 600px;
  margin: auto;

  a {
    display: flex;
    color: #000000;
    padding: 0 15px;
    text-decoration: none;

    * {
      align-items: center;
    }
  }

  button {
    width: fit-content !important;
    padding: 0 15px;
  }
}
