.stepbox {
  position: relative;
  border: 1px #000000 solid;
  height: fit-content;
  line-height: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px;

  &:last-of-type {
    margin-bottom: 0;
  }

  span {
    position: absolute;
    font-weight: 700;
    right: 2.8%;
    top: 5%;
  }

  &:last-of-type {
    margin-bottom: 0;
}


  // .stepbox.h3 {
  //   width: 200px;
  // border: 1px #000000 solid;
  //   height:fit-content;
  //   display: grid;
  //   place-items: end center ;
  //   margin: 10px;
  // }

 
}


