.timer {
  background-color: orchid;
  padding: 4rem;
  font-size: 25px;
  font-style: bold;
  align-items: center;
  text-align: center;
}

.numbers {
  font-size: 35px;
}

.timerbuttons {
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 80px;
  box-shadow: 3px 3px black;
}


.timer-block {
  width: auto;
  background-color: lightgreen;
}
