.timer {
  // font-size: 15px;
  align-items: center;
  text-align: center;
}

#display {
  font-size: 25px;
}

// .timerbuttons {
//   background-color: #ffffff;
//   border: 1px solid black;
//   cursor: pointer;
//   height: 20px;
//   width: 80px;
//   box-shadow: 3px 3px black;
// }

.start-timer-button, .pause-timer-button, .resume-timer-button, .reset-timer-button {
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 80px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 10px;
  box-shadow: 3px 3px black;
}

.reset-timer-button {
  background-color: lightcoral;
}

.resume-timer-button, .start-timer-button {
  background-color: lightgreen;
}